*{
    margin: 0;
    padding: 0;
}


#work-main{
    min-height: 100vh;
    width: 100%;
    background-color: rgb(8, 8, 8);
    padding: 5% 8%;
}

#work-main h1{
    font-size: 2rem;
    color: #8f8f8f;
}

.work-head{
    padding-top: 25px !important;
}